// WORKERS CUSTOM STYLES

html, body {
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif !important;
}

p {
  color: #999;
  font-family: 'Open Sans', sans-serif !important;
  //text-align: justify;
}

.workers-menu {

  .workers-menu-item {

  }
}

.workers-textarea {
  resize: none;
}

.workers-anchor__fixed-header-adjustment {
  position: relative;
  top: -40px;
  display: block;
  visibility: hidden;
}

.workers-section-separator {
  width: 150px;
  background-color: $workers-cyan;
}

// Bootstrap overwrittes (TODO: quizas se pueda meter mejor en scss)
.btn {
  text-transform: uppercase;
}

.btn-primary {
  color: $white;
}

.form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: initial;
  color: #333;
}

.features-icons {
  padding-bottom: 0;
}

section#contact .form-group textarea.form-control {
  height: 143px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.5);
}