/* TODO: precompilar */

/* GLOBAL */

html,
body {
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #666;
    font-size: 2rem;
}

h2 {
    color: #666;
    font-size: 1.8rem;
}

label.separator {
    color: #23d8d3;
}

section {
    padding: 30px;
}

.btn.label {
    cursor: initial;
}

.btn.label:hover {
    color: #fff !important;
    background-color: #23d8d3 !important;
    border-color: #23d8d3 !important;
    cursor: initial;
}
.btn.btn-outline-info.label:hover {
    color: #17a2b8 !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #17a2b8 !important;
    cursor: initial;
}

.fa-star {
    color: #FF8E5D;
}

.cursor-pointer {
    cursor: pointer;
}
.btn-outline-primary {
    background-color: #ffffff;
}

.progress {
    height: 0.5rem;
}

nav .container {
    z-index: 10;
}

.menu-overlay-open-detection {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
}

.menu-overlay-open-detection.show {
    display: block;
}

.label.btn.disabled-label:hover {
    color: #23d8d3 !important;
    background-color: #fff !important;
    border-color: #23d8d3 !important;
    cursor: initial;
}

.fullscreen-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.9);
    display: none;
    z-index: 50;
}
.fullscreen-loading.show {
    display: block;
}
.fullscreen-loading .row {
    height: 100%;
}

.select-spin-loading.fa-2x {
    position: absolute;
    left: 98%;
    bottom: 4px;
}

.select-spin-loading {
    position: absolute;
    left: 96%;
    bottom: 12px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.workers-auth-text {
    text-align: justify;
}

.workers-list-results {
    cursor: pointer;
    display: block;
}
.workers-list-results:hover {
    text-decoration: none;
}
.workers-list-results:hover {
    background-color: #f9f9f9;
}
.workers-list-results .col-md-2 {
    display: flex;
    justify-content: center;
}

/* Bootstrap v4 tooltip hotfix */
.slider.slider-horizontal .tooltip.tooltip-main.in,
.slider.slider-vertical .tooltip.tooltip-main.in { opacity: 1 !important; }

/* UPLOAD PROFILE FILE */
.workers-upload-file {
    padding: 6px 8px;
    background-color: #23d8d3;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

/* WORKERS PROGRESS BAR */
label.workers-form {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
}

.workers-skill-bar .slider-selection {
    background-image: -webkit-linear-gradient(top,#23d8d3 0, #00d8d3 100%);
    background-image: -o-linear-gradient(top,#23d8d3 0,#00d8d3 100%);
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #23d8d3),to(#00d8d3));
    background-image: linear-gradient(to bottom,#23d8d3 0,#00d8d3 100%);
}

.workers-skill-bar .slider {
    width: 100%;
}

.workers-skill-bar .slider-handle {
    cursor: pointer;
    background-color: #23d8d3;
    border: 1px solid #999999;
    background-image: -webkit-linear-gradient(top,#ffffff 0, #eeeeee 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #ffffff),to(#eeeeee));
    background-image: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    transform: scale(1.5);
}

/* MULTISELECT */
.workers-multi-select > div:hover {
    border-color: #23d8d3;
}
.workers-multi-select > div > div > div {
    padding: 8px;
}

    /* GLOBAL END */

.form-control {
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* SEARCH */
.workers-search h1 {
    text-transform: uppercase;
}

.workers-search-results .label-title {
    background-color: #23d8d3;
    padding: 6px;
    color: #fff;
    font-size: 21px;
    width: 100%;
}

.workers-search #btnSearchContainer {
    text-align: center;
}

/* QUALIFIER */
.workers-qualifier .btn {
    text-transform: initial;
}

/* QUALIFY */
.workers-qualify-profile-data h1 {
    text-transform: initial;
    color: #47525E;
    font-size: 34px;
    font-weight: 700;
}

.workers-qualify-profile-data__divider {
    border-right: 1px solid #969FAA;
    margin: -15px 0;
}

@media (max-width: 442px){
    .workers-qualify-profile-data__divider {
        display: none;
    }
}

.workers-qualify-profile-data__button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.workers-qualify-profile-data__button {
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: center;
    width: 124px;
}

@media (max-width: 992px){
    .workers-qualify-profile-data__button {
        height: 25%;
        width: 25%;
    }
}

.workers-myaccount .upload-profile-wrapper,
.workers-qualify-profile-data .upload-profile-wrapper {
    position: relative;
    bottom: 24px;
    right: 20px;
}

.roundedCircle {
    background-color: #FFFFFF;
    border: 3px solid #66D6D3;
    border-radius: 100%;
    width: 187px;
    height: 186.8px;
    margin: 0 auto;
}

.title-factory {
    color: #47525E;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;    
    margin: 0 3%;
}

.workers-myaccount__tableFactory {
    border-radius: 3px;
    border: 1px solid #C0CCDA;
    height: 80%;
    width: 100%;
}

.h1-factory {
    font-weight: 700;
}

.h1-factory-dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.h1-factory-dropdown:hover .dropdown-content {
    display: block;
}
.workers-myaccount {
    margin: 60px 20px 60px 20px;
}

.workers-myaccount__search-icon {
    border: 1px solid #66D6D3;
    margin-left: 10px;
}

.workers-myaccount__text {
    color: #47525E;
    font-size: 14px;
    padding-left: 5px;
}

.workers-myaccount__text--light {
    color: #47525E;
    font-size: 14px;
    opacity: .5;
}

.workers-myaccount__table {
    border-radius: 3px;
    border: 1px solid #C0CCDA;
    height: 100%;
    width: 100%;
}

.workers-myaccount__table-header {
    background: #EFF2F7;
    border-bottom: 1px solid #C0CCDA;
}

.workers-myaccount__table-header-option {
    color: #47525E;
    font-size: 16px;
    padding: 30px 0;
    text-align: center;
}

.workers-myaccount__table-header-option-factory {
    color: #47525E;
    font-size: 16px;
    padding: 14px 0;
    text-align: center;
}

.table-factory-item {
    border-bottom: 1px solid rgb(212, 219, 226);
    padding: 4px;
}

.table-factory-item:hover {
    background-color:#EFF2F7;
}

.text-qualify-factory {
    margin: 0 auto;
}

.img-rating {
    display: flex;
    width: 40%;
    margin: 0 auto;
}
.workers-myaccount__table-value {
    background: #FFFFFF;
    border-bottom: 1px solid #C0CCDA;
}

.workers-myaccount__table-value--color {
    background: #ffffff;
    border-bottom: 1px solid #C0CCDA;
}

.workers-myaccount__table-value:hover,
.workers-myaccount__table-value--color:hover {
    background: #EFF2F7;
}


.workers-myaccount__table-value-item {
    color: #47525E;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

/* QUALIFICATION LIST PROFILE */
.workers-qualification-list-profile.bg-light.disabled label {
    opacity: .5;
}
.workers-qualification-list-profile.bg-light.disabled #worker-carrousel-btn-qualify,
.workers-qualification-list-profile.bg-light.disabled #worker-carrousel-btn-delete {
    display: none;
}

.workers-qualification-list-profile img {
    max-width: 80px;
}
.workers-qualification-list-profile.bg-light {
    background-color: #F5F6F6 !important;
}
.workers-qualification-list-profile.rounded {
    border-radius: 0.75rem !important;
}

.workers-qualification-list-profile__details-checkbox:checked ~ .workers-qualification-list-profile__details {
    display: block;
    display: flex;
}

.workers-qualification-list-profile__details {
    display: none;
}

.btn-send {
    width: 280px;
    height: 68px;
}

/* MODAL SCROLL CONTENT */
.workers-scroll-content {
    padding-bottom: 20%;
}
/*
.workers-scroll-content .rodal-dialog .rodal-close {
    display: none;
}*/

.workers-scroll-content .rodal-dialog {
    width: 90% !important;
    height: 80% !important;
}

.workers-scroll-content.workers-scroll-content__controls .rodal-dialog {
    padding-bottom: 10%;
}

.rodal-zoom-enter {
    width: 100%;
}

.workers-scroll-content__controls-scroll {
    position: fixed;
    width: 90%;
    overflow: scroll;
    height: 100%;
    padding-bottom: 300px;
}
.workers-scroll-content .workers-authorization-modal-controls button,
.workers-scroll-content .workers-authorization-modal-controls a {
    margin: 5px;
}

.workers-scroll-content .workers-authorization-modal-controls {
    position: absolute;
    bottom: 0;
    width: 110%;
    margin: -10px 0 0 -40px;
    padding: 30px 40px 50px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

/* WORKER PROFILE */
.workers-profile-image {
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.workers-profile-user h3,
.workers-profile-user .workers-rating {
    font-size: 1.2rem;
    color: #999;
}

.calendar-factory {
    background-color: rgba(250, 253, 252, 0);
    border: 1px solid #8492A6;
    border-radius: 6px;
    width: 290px;
    height: 55px;
}

/* FULLSCREEN MESSAGE */
.workers-fullscreen-msg h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.workers-fullscreen-msg p {
    font-size: 1.5rem;
}

/* FOOTER */

.workers-footer {
    background-color: #5A6978;
    width: 100%;
    height: 134px;
}

.text-footer {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

/* LOGIN */
.workers-login-form {
    width: 70%;
}

@media (min-width: 768px){
    html,
    body {
        overflow-x: auto;
    }

    header.masthead {
        padding-top: 9rem;
        padding-bottom: 6rem;
    }

    .workers-login-form {
        width: auto;
    }

    .workers-search #btnSearchContainer {
        text-align: left;
    }

    .workers-profile-image {
        margin: initial;
    }

    .workers-scroll-content .rodal-dialog {
        overflow-x: scroll;
        width: 60% !important;
        height: 70% !important;
    }

    .rodal-zoom-enter {
        width: initial;
    }

    .workers-scroll-content__controls-scroll {
        position: fixed;
        width: 55%;
        overflow: scroll;
        height: 100%;
        padding-bottom: 600px;
    }

    .workers-scroll-content .workers-authorization-modal-controls {
        flex-wrap: initial;
    }

    .workers-scroll-content .workers-authorization-modal-controls button,
    .workers-scroll-content .workers-authorization-modal-controls a {
        margin: auto;
    }

}

@media print {
    html, body { overflow: hidden; }

    *::-webkit-scrollbar { width: 0 !important }

    * { -ms-overflow-style: none; }

    * { overflow: -moz-scrollbars-none; }
}